<h2> <%= "#{@user.full_name.upcase}" %>'s Profile &nbsp;
	<% if current_user.not_friends_with?(@user.id) %>
    <%= link_to "add friend", add_friend_path(user: current_user, friend: @user), 
		class: "btn btn-xs btn-success", method: :post %>
    <% end %> 
</h2>


<dl class="dl-horizontal">
	<dt><strong>NAME</strong></dt>
	<dd><%= @user.full_name %></dd>
	<dt><strong>EMAIL</strong></dt>
	<dd><%= @user.email %></dd>
</dl>

<% if @user.stocks.size > 0 %>
    <%= render 'stocks/list' %>
<% else %>
    <p class="lead">No stocks are tracked currently by this user</p>
<% end %>

<%= link_to 'back', my_friends_path, class: "btn btn-xs btn-primary" %>	